<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Hilangkan index.php dari URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

    # Cegah akses ke file sensitif
    <FilesMatch "(?i)((\.env)|composer\.(json|lock)|\.gitignore|\.htaccess)">
        Require all denied
    </FilesMatch>
</IfModule>

# Izinkan file verifikasi Google
<FilesMatch "google[a-z0-9]+\.html">
    Require all granted
</FilesMatch>
